/*html {
  display: none !important;
}*/

.--blackAndWhiteWeb-filter {
  filter: 
    grayscale(1.0) 
    /*contrast(1.05)*/
    /*sepia(1.05)*/
    !important;
}

.--blackAndWhiteWeb-filter-transition-in {
  transition: filter 1s ease-in 1.0s !important;
}

.--blackAndWhiteWeb-filter-transition-out {
  transition: filter 1s ease-in 1.0s !important;
}

.--blackAndWhiteWeb-invisible {
  visibility: hidden !important;
}

.--blackAndWhiteWeb-hide {
  display: none !important;
}
