/*html {
  display: none !important;
}*/

.--blackAndWhiteWeb-filter {
  filter: 
    contrast(1.05)
    grayscale(1.0) 
    /* sepia(0.05) */
    !important;
}

.--blackAndWhiteWeb-filter-transition-in {
  transition: filter 1s ease-in 0.5s !important;
}

.--blackAndWhiteWeb-filter-transition-out {
  transition: filter 1s ease-in 0.5s !important;
}

.--blackAndWhiteWeb-invisible {
  visibility: hidden !important;
}

.--blackAndWhiteWeb-hide {
  display: none !important;
}
