.--blackAndWhiteWeb-filter {
  filter: 
    grayscale(1.0) 
    /* contrast(1.05) */
    /* sepia(1.05) */
    !important;
}

/*html {
  display: none !important;
}*/

.--blackAndWhiteWeb-invisible {
  visibility: hidden !important;
}

.--blackAndWhiteWeb-hide {
  display: none !important;
}
